<!DOCTYPE html>
<html>

<head>
  <title>Planet Discovery</title>
  <link rel="stylesheet" href="/discover.css">
</head>


<body>
  <%- include('header') %>
    <h1>Planet Discovery</h1>
    <p>You have <%= rap %> RAP.</p>
    <form action="/discover" method="post">
      <button type="submit">Discover a new planet for 100 RAP</button>
    </form>

    <% if (planets.length> 0) { %>
      <h2>Discovered Planets</h2>
      <div class="grid">
        <% planets.forEach(planet=> { %>
          <div class="card">
            <h3>
              <%= planet.name %>
            </h3>
            <p>Type: <%= planet.type %>
            </p>
            <p>Size: <%= planet.size %> km</p>
            <p>Temperature: <%= planet.temperature %>°C</p>
            <p>Gravity: <%= planet.gravity %> G</p>
          </div>
          <% }) %>
      </div>
      <% } else { %>
        <p>No planets discovered yet.</p>
        <% } %>

</body>


</html>