<!DOCTYPE html>
<html>

<head>
  <title>Planet Discovery</title>
  <link rel="stylesheet" href="/discover.css">
</head>

<body>
  <%- include('header') %>
    <h1>Planet Discovery</h1>
    <p>You have <%= rap %> RAP.</p>
    <form action="/discover" method="post">
      <button type="submit">Discover a new planet for 100 RAP</button>
    </form>
    <form action="/discover/deletePlanet" method="post">
      <button type="submit">Delete Last Discovered Planet</button>
    </form>

    <% if (planets.length> 0) { %>
      <h2>Discovered Planets</h2>
      <div class="grid">
        <% planets.forEach(planet=> { %>
          <div class="card">
            <h3>
              <%= planet.name %>
            </h3>
            <div class="type-bar">Type: <%= planet.type %>
            </div>
            <div class="planet-info">
              <p>Size: <%= planet.size %> km</p>
              <p>Temperature: <%= planet.temperature %>°C</p>
              <p>Gravity: <%= planet.gravity %> G</p>
              <p>Biome: <%= planet.biome %>
              </p>
              <p>Age: <%= planet.age %> billion years</p>
              <p>Distance: <%= planet.distance %> light years</p>
              <p>Orbital Period: <%= planet.orbital_period %> days</p>
            </div>
            <div class="species-info">
              <p>Species: <%= planet.species %>
              </p>
            </div>
            ...
            <div class="resources-info">
              <p>Resource: <%= planet.resource.name %>
              </p>
              <img src="<%= planet.resource.imageURL %>" alt="<%= planet.resource.name %>">
              <p>Event: <%= planet.event %>
              </p>
            </div>
            ...

            <div class="perfectness-bar">Perfectness: <%= planet.perfectness %>
            </div>
          </div>
          <% }) %>
      </div>
      <% } else { %>
        <p>No planets discovered yet.</p>
        <% } %>
</body>

</html>