<link rel="stylesheet" href="/planetCard.css">

<div class="card">
  <h3>
    <%= planet.name %>
  </h3>
  <div class="type-bar">Type: <%= planet.type %>
  </div>
  <div class="planet-info">
    <p>Size: <%= planet.size %> km</p>
    <p>Temperature: <%= planet.temperature %>°C</p>
    <p>Gravity: <%= planet.gravity %> G</p>
    <p>Biome: <%= planet.biome %>
    </p>
    <p>Age: <%= planet.age %> billion years</p>
    <p>Distance: <%= planet.distance %>k units</p>
    <p>Orbital Period: <%= planet.orbital_period %> days</p>
  </div>
  <div class="species-info">
    <p>Species: <%= planet.species %>
    </p>
  </div>
  <div class="resources-info">
    <div class="resources-container">
      <% planet.resources.forEach(resource=> { %>
        <div class="resource">
          <img class="resource-image" src="<%= resource.imageURL %>" alt="<%= resource.name %>">
          <p class="resource-name">
            <%= resource.name %>
          </p>
        </div>
        <% }) %>
    </div>
    <p>Event: <%= planet.event %>
    </p>
  </div>
  <div class="perfectness-bar">Perfectness: <%= planet.perfectness %>
  </div>
</div>